In [9]:
import requests
import pandas as pd
url = 'https://opendata.cbs.nl/ODataFeed/odata/80345eng/TypedDataSet'
#url = "https://opendata.cbs.nl/ODataFeed/odata/80346eng/TypedDataSet"
#url = "https://opendata.cbs.nl/ODataFeed/odata/85546ENG/TypedDataSet"

headers = {
    "Accept": "application/json"
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    data = response.json()
    records = data.get('value', [])
    
    # Zet lijst van dicts om in DataFrame
    df = pd.DataFrame(records)
    
    print(df.head())  # toon de eerste paar regels
else:
    print(f"Fout bij ophalen data: {response.status_code}")

   ID   Periods  Beer_1  Bread_2  Butter_3  Cheese_4  Coffee_5  Eggs_6  \
0   0  1800JJ00    0.01     0.12      0.09      0.16      0.40    0.01
1   1  1801JJ00    0.02     0.14      0.08       NaN      0.34    0.01
2   2  1802JJ00    0.02     0.13      0.12       NaN      0.25    0.01
3   3  1803JJ00    0.01     0.11      0.11       NaN      0.44    0.01
4   4  1804JJ00    0.02     0.10      0.10       NaN      0.47    0.01

   Margarine_7  Milk_8  PorkSteak_9  Potatoes_10  Rice_11  StewingSteak_12  \
0          NaN    0.03          NaN         0.01     0.19              NaN
1          NaN    0.03          NaN         0.01     0.27              NaN
2          NaN    0.03          NaN         0.01     0.19              NaN
3          NaN    0.03          NaN         0.01     0.20              NaN
4          NaN    0.03          NaN         0.01     0.17              NaN

   Sugar_13  Tea_14
0      0.71    0.20
1      0.64    0.19
2      0.48    0.19
3      0.61    0.19
4      0.64    0.18

In [10]:
print(df)

      ID   Periods  Beer_1  Bread_2  Butter_3  Cheese_4  Coffee_5  Eggs_6  \
0      0  1800JJ00    0.01     0.12      0.09      0.16      0.40    0.01
1      1  1801JJ00    0.02     0.14      0.08       NaN      0.34    0.01
2      2  1802JJ00    0.02     0.13      0.12       NaN      0.25    0.01
3      3  1803JJ00    0.01     0.11      0.11       NaN      0.44    0.01
4      4  1804JJ00    0.02     0.10      0.10       NaN      0.47    0.01
..   ...       ...     ...      ...       ...       ...       ...     ...
214  214  2014JJ00    1.49     1.20      1.33      9.24      9.34    1.84
215  215  2015JJ00    1.48     1.19      1.28      7.19     10.39    1.96
216  216  2016JJ00    1.49     1.17      1.26      6.94      9.51    2.07
217  217  2017JJ00    1.48     1.14      1.69     10.22      9.43    2.24
218  218  2018JJ00    1.48     1.16      2.04     10.98      8.73    2.47

     Margarine_7  Milk_8  PorkSteak_9  Potatoes_10  Rice_11  StewingSteak_12  \
0            NaN    0.03          NaN         0.01     0.19              NaN
1            NaN    0.03          NaN         0.01     0.27              NaN
2            NaN    0.03          NaN         0.01     0.19              NaN
3            NaN    0.03          NaN         0.01     0.20              NaN
4            NaN    0.03          NaN         0.01     0.17              NaN
..           ...     ...          ...          ...      ...              ...
214         0.79    0.80         6.86         0.94     2.24             8.80
215         0.90    0.77         7.00         1.09     2.31             9.50
216         0.91    0.76         7.10         1.24     2.17             9.45
217         0.93    0.90         7.61         1.31     2.10             9.79
218         0.77    0.90         7.26         1.33     2.02             9.32

     Sugar_13  Tea_14
0        0.71    0.20
1        0.64    0.19
2        0.48    0.19
3        0.61    0.19
4        0.64    0.18
..        ...     ...
214      0.99    1.08
215      0.98    1.14
216      0.80    1.19
217      0.67    1.16
218      0.68    1.16

[219 rows x 16 columns]