# 1
Er zijn meerdere 1-dimensionale structuren in Python. De list, de numpy array en pandas Series zijn degene die je het meest zal gebruiken (numpy en pandas zijn packages).

Meer informatie over lists: https://datalab01.ict.hva.nl/w/6aKwhqRQvwGE6VfjtLq4uJ

**A. Maak een list met de getallen 6 tot en met 10** (2 min)

**B. Maak de list nog eens, maar deze keer geef het de naam list1** (1 min)

**C. Importeer de packages numpy en pandas. Zet nu list1 om in een numpy array en pandas series. Noem deze 'array1' en 'series1'.** (5 min) <br>
Introductie in numpy: https://datalab01.ict.hva.nl/w/r7SYc4Ag4X4ReMBbfb9RYv <br>
Introductie in pandas: https://datalab01.ict.hva.nl/w/d9zd1VbMKK4oJPP1RzM3Sd <br>
Pandas Cheat sheet: https://www.datacamp.com/cheat-sheet/pandas-cheat-sheet-for-data-science-in-python

In [ ]:
# Hier de imports

In [ ]:
# Numpy Array

In [ ]:
# Pandas Series

### **2. Tel 5 op bij alle getallen in list1, doe hetzelfde voor de array en series**

Voor de python list hebben we een list comprehension nodig. De numpy array en pandas Series kunnen het in één keer. <br>
(8 min)

In [ ]:
# Python List

In [ ]:
# Numpy Array

In [ ]:
# Pandas Series

## 3
**A. Maak een tweede list met de letters A,B,C,D,E en noem deze list2** (2 min)

In [ ]:
# Gewoon handmatig

**B. Maak een pandas dataframe met de naam df die bestaat uit twee kolommen: list1 en list2** <br> (4 min). Voor achtergrond zie introductie in pandas (1C)

**C. Voeg een derde kolom toe aan de dataframe met 5 x de waarde TRUE** (3 min) <br>
Toevoegen kolommen: https://datalab01.ict.hva.nl/w/9x2t35BNxgCCbTu6E18BBH

## 4 
**Check of je working directory overeenkomt met de map waarin je de werkcolleges wil opslaan** (2 min)

## 5
**Gebruik de functie 'read_csv()' uit het pandas package om de dataset in te laden en geef het de
naam *HairEyeColour*** (3 min)

In [ ]:
# Let op: bestandnaam zelf is HairEyeColor (zonder 'u')

## 6 
**Wat voor type variabelen zitten er in de dataset?** (3 min) <br> Tip: gebruik de method 'info()'

object betekent 'tekst'

Voor achtergrond over data exploratie zie: https://datalab01.ict.hva.nl/w/h9HaRfrvXcSVuF6Yi8cfaG

## 7 
**Hoeveel mannen en hoeveel vrouwen zitten er in de dataset?** (5 min) <br> Tip: gebruik method 'value_counts()' of functie 'crosstab()' uit pandas

## 8 
**Hoe veel roodharige personen met groene ogen zitten er in de dataset?** (5 min)

In [ ]:
# Tip: je kan gewoon een tabel printen en daarin kijken voor het antwoord

## 9
**Welk percentage van de mensen met blond haar heeft blauwe ogen?** (6 min) <br> Tip: Zie gebruik functie crosstab. Welke optie kan hiervoor gebruiken. https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html

In [ ]:
# Tip: maak gebruik van het argument normalize, en denk over welke optie je moet kiezen

## 10
**Hoeveel vrouwen hebben blond haar en blauwe ogen?** (4 min)

## 11
**Voeg een kolom toe aan de dataset met de naam DarkHair. Deze kolom heeft de waarde
“Dark” indien de haarkleur Black of Brown is en “Light” indien de haarkleur Blond of Red is.** (8 min)

Tip: gebruik functie 'where()' uit numpy package of een list comprehension

Introductie in conditional statements: https://datalab01.ict.hva.nl/w/gHiybjuMcxAdejQj3B7gBk

## 12
**Hoeveel personen hebben licht haar?** (3 min)

## 13 
**Welk percentage van de personen heeft licht haar en blauwe ogen?** (3 min)