## Deel 1: Inladen datasets
**1. Importeer de 01_NLelftal.csv, 02_NLelftal.csv, 03_ NLelftal.csv datasets.**<br>

**Let op: in je pd.read_csv() call moet de encoding argument zetten op ANSI of op 'latin-1'.** <br>
**Voor Mac gebruikers zet encoding op cp1252.** <br>
**Inspecteer de data en bepaal de separator om het csv beter te kunnen importeren.** <br>
Mogelijk werkt dit niet voor Mac gebruikers. Zet dan engine gelijk aan "python" (10-12 min)

Inladen van CSV: https://datalab01.ict.hva.nl/w/oVxztHXMRf5eKGVtsdJXQ6

In [2]:
# Als het weer nodig is, check je huidige working directory
import os
print(os.getcwd())

# Pas je working directory aan indien gewenst
path = 'C:\\Users\\rburrus\\Desktop\\Jupyter Notebook' # zet hier wat voor jou goed is
os.chdir(path)
print(os.getcwd())

c:\Users\jeroe\minor

FileNotFoundError: [WinError 3] Het systeem kan het opgegeven pad niet vinden: 'C:\\Users\\rburrus\\Desktop\\Jupyter Notebook'

In [1]:
# Normale imports (numpy, pandas)
import numpy as np
import pandas as pd

In [6]:
# Read 01_NLelftal.csv
eltal1 = pd.read_csv("01_NLelftal.csv", encoding="latin-1", sep = ";")
eltal1

   Nederlands.elftal.tegen  Gs  Gw  Ge  Ve  Vo  Te  Gl  Ro
0                  Albanië   4   4   0   0   7   1   5   0
1                  Andorra   6   6   0   0  21   0   7   1
2               Argentinië   9   4   4   1  13   6  13   2
3                  Armenië   2   2   0   0   3   0   3   0
4                Australië   4   1   2   1   5   5   2   1
..                     ...  ..  ..  ..  ..  ..  ..  ..  ..
83             Wit-Rusland  10   8   0   2  23   6  12   1
84             Zuid-Afrika   2   2   0   0   4   1   0   0
85              Zuid-Korea   2   2   0   0   7   0   2   0
86                  Zweden  25  11   6   8  47  48   9   0
87             Zwitserland  33  15   3  15  68  61   6   0

[88 rows x 9 columns]

In [ ]:
# Gebruik het juiste scheidingsteken (indien nodig)

In [9]:
# Read 02_NLelftal.csv
eltal2 = pd.read_csv("02_NLelftal.csv", encoding="latin-1", sep = ",")
eltal2

   Nederlands.elftal.tegen  Gs  Gw  Ge  Ve  Vo  Te  Gl  Ro
0                  Albanië   4   4   0   0   7   1   5   0
1                  Andorra   6   6   0   0  21   0   7   1
2               Argentinië   9   4   4   1  13   6  13   2
3                  Armenië   2   2   0   0   3   0   3   0
4                Australië   4   1   2   1   5   5   2   1
..                     ...  ..  ..  ..  ..  ..  ..  ..  ..
83             Wit-Rusland  10   8   0   2  23   6  12   1
84             Zuid-Afrika   2   2   0   0   4   1   0   0
85              Zuid-Korea   2   2   0   0   7   0   2   0
86                  Zweden  25  11   6   8  47  48   9   0
87             Zwitserland  33  15   3  15  68  61   6   0

[88 rows x 9 columns]

In [ ]:
# Gebruik het juiste scheidingsteken (indien nodig)

In [11]:
# Read 03_NLelftal.csv
eltal3 = pd.read_csv("03_NLelftal.csv", encoding="latin-1", sep = "/")
eltal3

   Nederlands.elftal.tegen  Gs  Gw  Ge  Ve  Vo  Te  Gl  Ro
0                  Albanië   4   4   0   0   7   1   5   0
1                  Andorra   6   6   0   0  21   0   7   1
2               Argentinië   9   4   4   1  13   6  13   2
3                  Armenië   2   2   0   0   3   0   3   0
4                Australië   4   1   2   1   5   5   2   1
..                     ...  ..  ..  ..  ..  ..  ..  ..  ..
83             Wit-Rusland  10   8   0   2  23   6  12   1
84             Zuid-Afrika   2   2   0   0   4   1   0   0
85              Zuid-Korea   2   2   0   0   7   0   2   0
86                  Zweden  25  11   6   8  47  48   9   0
87             Zwitserland  33  15   3  15  68  61   6   0

[88 rows x 9 columns]

In [ ]:
# Gebruik het juiste scheidingsteken (indien nodig)

**2. Lees de excel 04_NLelftal.xlsx in** (3 min)

In [ ]:
df = pd.read_excel("04_NLelftal.xlsx")
df

   Nederlands.elftal.tegen  Gs  Gw  Ge  Ve  Vo  Te  Gl  Ro
0                  Albanië   4   4   0   0   7   1   5   0
1                  Andorra   6   6   0   0  21   0   7   1
2               Argentinië   9   4   4   1  13   6  13   2
3                  Armenië   2   2   0   0   3   0   3   0
4                Australië   4   1   2   1   5   5   2   1
..                     ...  ..  ..  ..  ..  ..  ..  ..  ..
83             Wit-Rusland  10   8   0   2  23   6  12   1
84             Zuid-Afrika   2   2   0   0   4   1   0   0
85              Zuid-Korea   2   2   0   0   7   0   2   0
86                  Zweden  25  11   6   8  47  48   9   0
87             Zwitserland  33  15   3  15  68  61   6   0

[88 rows x 9 columns]

In [ ]:
# Gebruik een van de voorgaande methoden om je DataFrame als df te noemen

**2a. Maak een nieuwe kolom met het gemiddeld aantal doelpunten (Vo) per wedstrijd (Gs) (3 min)** <br><br>
<i> Kolom toevoegen: </i> https://datalab01.ict.hva.nl/w/9x2t35BNxgCCbTu6E18BBH

In [20]:
# Je kan np.round() gebruiken om de berekening af te ronden op 2 decimalen.

df["Gem_dp"]= np.round(df["Vo"] / df["Gs"],2)
df

   Nederlands.elftal.tegen  Gs  Gw  Ge  Ve  Vo  Te  Gl  Ro  Gem_dp
0                  Albanië   4   4   0   0   7   1   5   0    1.75
1                  Andorra   6   6   0   0  21   0   7   1    3.50
2               Argentinië   9   4   4   1  13   6  13   2    1.44
3                  Armenië   2   2   0   0   3   0   3   0    1.50
4                Australië   4   1   2   1   5   5   2   1    1.25
..                     ...  ..  ..  ..  ..  ..  ..  ..  ..     ...
83             Wit-Rusland  10   8   0   2  23   6  12   1    2.30
84             Zuid-Afrika   2   2   0   0   4   1   0   0    2.00
85              Zuid-Korea   2   2   0   0   7   0   2   0    3.50
86                  Zweden  25  11   6   8  47  48   9   0    1.88
87             Zwitserland  33  15   3  15  68  61   6   0    2.06

[88 rows x 10 columns]

**2b. Bepaal het gemiddelde aantal doelpunten voor Nederland per wedstrijd. (2 min)**

**2C. Bepaal of Nederland vaker de winnaar is per wedstrijd en sla dit op in een nieuwe kolom "Resultaat". Geef de waarde "Winnaar" mee als er vaker gewonnen (kolom Gw vs kolom Ve) is, anders "Verloren". Indien er even vaak gewonnen als verloren moet de kolom "Gelijkspel" bevatten. (5 min)** <br>
Tip: er zijn verschillende opties hiervoor, inclusief np.select(), een for loop, en "nested" gebruik van np.where()
<br>

<i>Conditional statements: </i> https://datalab01.ict.hva.nl/w/gHiybjuMcxAdejQj3B7gBk

In [ ]:
win = []
for i in range(len(df)):
    if df["Gw"].iloc[i] > df["Ve"].iloc[i]:
        win.append("Winnaar")
    elif df["Gw"].iloc[i] < df["Ve"].iloc[i]:
        win.append("Verloren")
    else:
        win.append("Gelijkspel")
df["Resultaat"] = win
df

   Nederlands.elftal.tegen  Gs  Gw  Ge  Ve  Vo  Te  Gl  Ro  Gem_dp   Resultaat
0                  Albanië   4   4   0   0   7   1   5   0    1.75     Winnaar
1                  Andorra   6   6   0   0  21   0   7   1    3.50     Winnaar
2               Argentinië   9   4   4   1  13   6  13   2    1.44     Winnaar
3                  Armenië   2   2   0   0   3   0   3   0    1.50     Winnaar
4                Australië   4   1   2   1   5   5   2   1    1.25  Gelijkspel
..                     ...  ..  ..  ..  ..  ..  ..  ..  ..     ...         ...
83             Wit-Rusland  10   8   0   2  23   6  12   1    2.30     Winnaar
84             Zuid-Afrika   2   2   0   0   4   1   0   0    2.00     Winnaar
85              Zuid-Korea   2   2   0   0   7   0   2   0    3.50     Winnaar
86                  Zweden  25  11   6   8  47  48   9   0    1.88     Winnaar
87             Zwitserland  33  15   3  15  68  61   6   0    2.06  Gelijkspel

[88 rows x 11 columns]

## Star Wars API
**3. Instaleer en laad het package 'requests'.** (3 min)

In [29]:
import requests

**4-6. Maak een GET() request to https://swapi.dev/api/people/1/ en sla de resultaten op in een
variabele genaamd response1. <br> Welke informatie heb je gekregen? <br>
Print de status code en de inhoud als tekst. <br>
Laat tevens de inhoud als json zien** (10 min)

<i>API: </i> https://datalab01.ict.hva.nl/w/hdGvm2AW9HbCiU4Lb4uJr2

In [31]:
response1 = requests.get("https://swapi.dev/api/people/1/")

SSLError: HTTPSConnectionPool(host='swapi.dev', port=443): Max retries exceeded with url: /api/people/1/ (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1000)')))

**7. Maak een GET() request (response2) naar een nieuwe url om meer informatie op te halen over de
“homeworld" van Luke Skywalker.** <br> **Tip: Hoe roep je een key uit een dictionary op? ** <br>

(8 min)

**Print dezelfde informatie als in vraag 6**

## Deel 3: Uploaden naar een server
**8. Maak een GET() request (als response3) naar https://5d6f7b60482b530014d2e39f.mockapi.io/api/rick/Test2
en haal de content op. Welke variabelen zitten in de database?** (3 min)

In [35]:
response3 = requests.get("https://5d6f7b60482b530014d2e39f.mockapi.io/api/rick/Test2")
response3.text

'[{"name":"Luuk","Favorietijs":"Vanille","Leeftijd":"22","id":"1"},{"name":"Thijs","Favorietijs":"Citroen","Leeftijd":25,"id":"11"},{"name":"Tim","Favorietijs":"Vanile","Leeftijd":20,"id":"12"},{"name":"Thijs","Favorietijs":"Citroen","Leeftijd":25,"id":"13"},{"name":"Tim","Favorietijs":"Vanile","Leeftijd":20,"id":"14"},{"name":"Safwaan","Favorietijs":"Smurf","Leeftijd":20,"id":"15"},{"name":"Safwaan","Favorietijs":"Smurf","Leeftijd":20,"id":"16"},{"name":"Tim","Favorietijs":"Vanile","Leeftijd":20,"id":"17"},{"name":"Tonya Jerde","Favorietijs":"Favorietijs 18","Leeftijd":31,"id":"18"},{"name":"Safwaan","Favorietijs":"Smurf","Leeftijd":20,"id":"19"},{"name":"Teresa Dibbert DVM","Favorietijs":"Favorietijs 20","Leeftijd":46,"id":"20"},{"name":"Tim","Favorietijs":"Vanile","Leeftijd":20,"id":"21"},{"name":"Safwaan","Favorietijs":"Smurf","Leeftijd":20,"id":"22"},{"name":"James Weber","Favorietijs":"Favorietijs 24","Leeftijd":94,"id":"24"},{"name":"Adrienne Langworth","Favorietijs":"smurf","Leeftijd":"95","id":"25","Name":"Jan"},{"name":"Mrs. Kerry O\'Hara","Favorietijs":"smurf","Leeftijd":"95","id":"27","Name":"Jan"},{"name":"Alma Schoen DDS","Favorietijs":"Favorietijs 29","Leeftijd":98,"id":"29"},{"name":"Arnold Pagac","Favorietijs":"Favorietijs 30","Leeftijd":54,"id":"30"},{"name":"Gem Stroomer","Favorietijs":"Witte chocolade-frambozen","Leeftijd":"23","id":"31"},{"name":"Gem Stroomer","Favorietijs":"Witte chocolade-frambozen","Leeftijd":"23","id":"32"},{"name":"Gem Stroomer","Favorietijs":"Witte chocolade-frambozen","Leeftijd":"23","id":"33"},{"name":"Gem Stroomer","Favorietijs":"Witte chocolade-frambozen","Leeftijd":"23","id":"34"},{"name":"Ryan Burruss","Favorietijs":"Cookies & Cream","Leeftijd":"43","id":"35"},{"name":"Ryan Burruss","Favorietijs":"Cookies & Cream","Leeftijd":"43","id":"36"},{"name":"Ryan Burruss","Favorietijs":"Cookies & Cream","Leeftijd":"43","id":"37"},{"name":"Ryan Burruss","Favorietijs":"Cookies & Cream","Leeftijd":"43","id":"38"},{"name":"Testeritus tester","Favorietijs":"testert","Leeftijd":"31","id":"39"},{"name":"Testeritus tester","Favorietijs":"testert","Leeftijd":"31","id":"40"},{"name":"Testeritus tester","Favorietijs":"testert","Leeftijd":"31","id":"41"}]'

**9. Creëer een nieuw profiel met de variabelen name, Favorietijs en Leeftijd. <br> Dit heeft de vorm van een dictionary. <br> Je hoeft geen id mee te geven** (5 min)

Dictionaries: https://datalab01.ict.hva.nl/w/pDj3qijdsQeNZPr8cXsk65

In [37]:
profile = {"name":"jeroen","Favorietijs":"mango","Leeftijd":"20"}

**10. Gebruik POST() om dit nieuwe profiel te uploaden naar de server. Controleer of dit gelukt is
door de data nogmaals van de server te halen. Welk id heb je gekregen?**
(8 min)

In [38]:
requests.post("https://5d6f7b60482b530014d2e39f.mockapi.io/api/rick/Test2", data=profile)

In [ ]:
# Controleer dat je post is gelukt

**11. Creeër een nieuwe dictionary met andere gegevens. <br> Kijk of het lukt om een list (met meerdere inputs) te maken voor een
van de variabelen. <br> Gebruik de PUT() functie om je nieuwe profiel te updaten. <br> Controleer welk ID nummer je hiervoor moet gebruiken. Je kan dit id nummer achter de link zetten om dit specifieke id aan ta passen. <br> Hoe pas je dan het adres aan?**

(12 min)

In [ ]:
# Controleer dat je put is gelukt

**12. Verwijder de door jouw geüploade gegevens met DELETE. Let op: Verwijder alleen jouw id!** (5 min)

In [ ]:
# Controleer dat je delete is gelukt